<li>
	{{name}}

	<button class="change-devoure" data-id="{{id}}" data-newdevoure="{{devoure}}">
		{{#if devoure}}DEVOURE TIME!{{else}}NO DEVOURE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
